{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <h1>Hello And Welcome ✅</h1>

    <button><a href="{{ path('app_post') }}">Liste des publications</a></button>
{% endblock %}
